/* temples-large.css */

@media screen and (min-width: 768px) {
    nav ul {
      display: flex !important;
      flex-direction: row;
      justify-content: flex-end;
      gap: 2rem;
      padding-right: 2rem;
    }
  
    #hamburger {
      display: none;
    }
  
    main {
      grid-template-columns: repeat(3, 1fr); /* 3-column grid */
    }
  }
  nav a:hover {
    color: blue;
    text-decoration: underline;
  }
  